{% extends "base.html" %}
{% block title %} АСГПТ {% endblock %}
{% block content %}
<img src="static/img/asgpt.jpg" width="32%" height="350px" alt="asgpt" align="center">
<img src="static/img/asgpt1.jpg" width="35%" height="350px" alt="asgpt1">
<img src="static/img/asgpt2.jpg" width="32.2%" height="350px" alt="asgpt2">
<div class="form-control">
<p>В помещениях, где хранятся ценные вещи (картины, антиквариат, денежные средства) или где установлено серверное или иное дорогостоящее оборудование, установка спринклерной или порошковой системы может повлечь нежелательные последствия для хранящегося имущества. В этом случае используют вид пожаротушения: газовый.</p>
<p>Система газового пожаротушения представляет собой совокупность оборудования, в которой для борьбы с пожаром используются газовые огнетушащие составы: сжиженные газы (СО2, хладоны) и сжатые газы (инерген, аргонит, азот, аргон). Состоит из модуля, оснащенного устройствами пуска и контроля утечки, трубопровода и насадков.
Модуль газового пожаротушения состоит из баллона, запорно-пускового устройства, сифонной трубки и пусковых устройств (электрическое, пневматическое, ручное).

</p>
  </div>


{% endblock %}