{% extends "base.html" %}
{% block title %} ДГУ {% endblock %}
{% block content %}
<img src="static/img/dgu.jpg" width="32%" height="350px" alt="dgu" align="center">
<img src="static/img/dgu1.jpg" width="35%" height="350px" alt="dgu1">
<img src="static/img/dgu2.jpg" width="32.2%" height="350px" alt="dgu2">
<div class="form-control">
<p>Дизель-генераторная установка (ДГУ) – это электромеханическое устройство, состоящее из дизельного двигателя, электрогенератора и схемы управления.

ДГУ обеспечивают автономное питание (гарантированное электроснабжение) критичной нагрузки.

Они предназначены для работы в качестве постоянных или резервных источников электроэнергии, способных функционировать в течение
    длительного периода времени (от нескольких часов до нескольких суток в зависимости от емкости топливного бака).
Дизель-генераторы можно разделить на маломощные однофазные, а также средние, мощные и сверхмощные трехфазные устройства.

Они могут быть как в открытом исполнении для установки внутри помещений, так и в различных защитных кожухах.

Управление работой современных ДГУ осуществляется с помощью встроенных контроллеров (микропроцессорных или аппаратных).

Они способны автоматически запускать двигатель при авариях сетевого напряжения и останавливать его при восстановлении электроснабжения, выдерживая при этом заданные временные интервалы.</p>
  </div>


{% endblock %}