{% extends "base.html" %}
{% block title %} ИБП {% endblock %}
{% block content %}
<img src="static/img/ibp3.jpg" width="32%" height="320px" alt="ibp" align="center">
<img src="static/img/ibp.png" width="35%" height="320px" alt="ibp1">
<img src="static/img/ibp5.jpg" width="32.2%" height="320px" alt="ibp2">
<div class="form-control">
    
<p>Сбои в электроснабжении и его резкое отключение могут привести к очень большим убыткам, особенно если функционирование компаний и предприятий построено на новых интеллектуальных технологиях, в таком случае могут не только исчезнуть важные данные, но и сбиться все настройки. Избежать подобного исхода можно, используя источники бесперебойного питания (ИБП) .

Эти автоматические электронные устройства прежде всего обеспечивают кратковременное питание электроприборов и бытовой техники от собственных аккумуляторов при внезапном отключении энергоснабжения. Однако не стоит путать источники бесперебойного питания с источниками резервного питания.

Бесперебойники, как еще называют ИБП, способны лишь непродолжительное время давать достаточное для работы машин питание, а резервные источники  рассчитаны на более длительный период.

</p>
</div>


{% endblock %}