{% extends 'base.html' %}
{% block title %} Стартовая страница {% endblock %}
{% block content %}
<div class="form-control">
    <h3>Для работы! Перечень основных работ. Необходимо минимум дежурить 1 час каждую субботу и праздничные дни, согласно графика. </h3>
Также отметку ставите по входу в гермозону.
</p>
    <ol>
        <li>Здание.
        </li>
        <ul>
            <li>Внешний осмотр.</li>
            <li>Внутренний осмотр.</li>
            <li>Осмотр на предмет выключения электроприборов.</li>
            <li>Осмотр подвала на предмет работоспособности системы подачи и подогрева воды.</li>
            <li>Проверка системы очистки воды для СПК.</li>
        </ul>
        <li>ДГУ.</li>
            <ul>
                <li>Внешний осмотр.</li>
                <li>Проверка уровня заряда АКБ.</li>
                <li>Проверка уровня топлива.</li>
                <li>Проверка температуры помещения.</li>
                <li>Проверка ДГУ на предмет срабатывания.</li>
                <li>Осмотр датчиков СКУД на предмет работоспособности.</li>
                <li>Проверка автоматических выключателей на обогрев и освещение.</li>
            </ul>
        <li>Гараж.</li>
        <ul>
            <li>Внешний осмотр.</li>
        </ul>
        <li>Гермозона.</li>
        <ul>
            <li>Визуальный осмотр АУГПТ.</li>
            <li>Визуальный контроль СПК.</li>
            <li>Визуальный контроль ИБП.</li>
            <li>Просмотр логов ИБП.</li>
            <li>Визуальный контроль аккумуляторных шкафов.</li>
            <li>Визуальный контроль шкафа заземления.</li>
            <li>Визуальный контроль шкафов электропитания.</li>
            <li>Вскрытие фальшпола и проверка на факт протечек СПК.</li>
            <li>Визуальный контроль сетевого и серверного оборудования ЦОД.</li>
        </ul>
        <li>Электрощитовая.</li>
        <ul>
            <li>Проверка АВР ДГУ.</li>
            <li>Проверка АВР ВРУ.</li>
            <li>Проверка автоматических выключателей ЩГП1, ЩГП2, ЩО, ЩС.</li>
        </ul>
    </ol>


</div>
{% endblock%}