{% extends "base.html" %}
{% block title %} СПК {% endblock %}
{% block content %}
<img src="static/img/spk1.jpg" width="32%" height="350px" alt="spk" align="center">
<img src="static/img/spk2.jpg" width="35%" height="350px" alt="spk">
<img src="static/img/spk3.jpg" width="32.2%" height="350px" alt="spk">
<div class="form-control">
<p>Прецизионный кондиционер относится к климатическому оборудованию, которое применяется для создания необходимого микроклимата. Особенностью этого вида устройств является то, что они осуществляют подготовку и обработку воздуха не для человека, а для оборудования (вычислительного или коммуникационного), выделяющего при работе значительное количество тепла. Чтобы нейтрализовать высокие показатели температуры воздуха в помещении с таким оборудованием, устанавливаются прецизионные кондиционеры, работающие на охлаждение. Приоритетным условием при этом становится строгое выполнение технологических требований в отношении поддержания работоспособности вычислительных машин. В зависимости от комплектации,
    прецизионные кондиционеры также могут поддерживать уровень влажности воздуха на необходимом уровне как за счет увлажнения, так и осушения.</p>
  </div>


{% endblock %}